@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

:root{
    --underline-width: 0%;
    --background-color: rgba(33, 33, 33, 1);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Custom scrollbar */
::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: rgba(0,0,0,0);    
}

::-webkit-scrollbar-thumb {
    background: #6f6f6f;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: #8f8f8f;
}
/*end*/

.noselect {
    -webkit-user-select: none;
    -ms-user-select: none; 
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
}

.wave{
    position:absolute   ;
    width: 100%;
    height: 200px;
    margin-bottom:-7px; /*Fix for safari gap*/
    bottom: 0;
    z-index: -1;
}
.parallax > use {
    animation: hullamzik 40s cubic-bezier(.55,.5,.45,.5) infinite;
}
.parallax use{
    fill: rgb(65, 65, 65);
    opacity: 0.4;
}

.wave:nth-child(even){
    top:0;
    transform: rotateZ(180deg);
}

.wave:nth-child(odd){
    bottom:-50px;
}
/*Fent-lent*/

@keyframes hullamzik {
    0% {
        transform: translate3d(-90px,0,0);
    }
    100% { 
        transform: translate3d(85px,0,0);
    }
}

body{
    background-color: var(--background-color);
    color: #d4d4d4;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    min-height: 100vh;
    position: relative;
}

.hidden-cursor, .hidden-cursor:hover, .hidden-cursor:active, .hidden-cursor:focus{
    cursor: none;
}

a::after{
    content: '';
    display: block;
    width: 0%;
    width: var(--underline-width);
    height: 2px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.5);
    transition: width 0.2s ease-in-out;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top:0px;
    left:0px;
    width: 100vw;
    z-index: 999999;
}

.topnav a {
    float: left;
    display: block;
    color: #8f8f8f;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a[aria-label="active"]{
    color: rgb(242, 242, 242);
}

.content{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 400px;
    margin: 50px 0;
}

.content:nth-child(odd){
    flex-direction: row-reverse;
}

.content-text h1{
    text-align: center;
    margin: 5vh 0;
    font-size: 2.4rem;
}

.content-text h1::after{
    content: '';
    display: block;
    width: 50%;
    height: 2px;
    background-color: rgb(69, 69, 69);
    margin: 0 auto;
}

.content-text p{
    text-align: justify;
    padding: 0 10vw;
    margin: 10px 0;
    font-size: 16px;
    font-size: 1.4rem;
}

.content-image{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10vw;
}

.content-image img{ 
    height: 80%; 
    border: 1px solid white;
}

.ctestGrid{
    width: 800px;
    height: 500px;
    margin: 60px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}

.ctestSquare {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 5px;
    border: 2px solid black;
    color: black;
}

.ctestSzam {
    background-color: skyblue;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-size: 25px;
    font-weight: bolder;
    padding: 30px;
}

.pontSzam {
    text-align: center;
    font-size: 25px;
}

.startGame{
    text-align: center;
    padding: 10px;
    height: 50px;
    background-color: #8f8f8f;
    width: 100px;
    margin: 0 auto;
    display: block;
    border-radius: 5px;
    font-size: 25px;
}

.ctesztElott{
    background-color: black;
    width: 800px;
    height: 500px;
    margin: 60px auto;
    font-size: 25px;
}

.ctesztElottSz{
    padding: 220px;
    color: white;
    text-decoration: underline #6f6f6f;
}

.ctesztElottSz2{
    position: absolute;
    left: 550px;
    top: 280px;
    font-size: 25px;
}

.lathatatlan{
    background-color: #212121;
}

#urHatter{
    margin: 50px auto;
    background-color: black;
    width: 600px;
    height: 600px;
    /* background-image: url(képek/csillagok8.gif); */
}

.spacexCim{
    font-size: 50px;
    font-weight: bolder;
    text-decoration: underline;
    top: 85px;
    left: 670px;
    position: absolute;
    text-align: center;
}

.urhajoResz1{
    position: absolute;
    left: 562px;
    bottom: 100px;
}

.urhajoResz2{
    position: absolute;
    left: 600px;
    bottom: 100px;
}

.urhajoResz3{
    opacity: 10%;
    position: absolute;
    transform: scaleY(200%);
    left: 640px;
    bottom: 100px;
}

.urhajo{
    max-width: 50%;
    max-height: 50%;
}

.urhajo_tuz{
    max-width: 50%;
    max-height: 50%;
    transform: rotate(180deg);
    transform: scaleY(200%);
}

.meteor1, .meteor2, .meteor3{
    position: absolute;
    transform: scale(50%);
    top: 0;
}

.boost{
    transform: scale(40%);
    position: absolute;
    top: 0;
}

.kmSzamlalo{
    float: left;
}

.kmCel{
    float: right;
}

.startGomb{
    position: absolute;
    left: 41%;
    top: 75%;
    width: 250px;
    font-weight: bold;
    color: white;
    font-size: 50px;
    text-align: center;
    border-style: solid;
    border-radius: 50px;
    border-color: white;
    background-color: black;
}

.tipp{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 25%;
    border-style: solid;
    border-radius: 50px;
    border-color: white;
    background-color: black;
}

.nyilakTipp{
    left: 37%;
}

.meteorTipp{
    left: 47%
}

.boostTipp{
    left: 57%
}

.tippSzoveg{
    position: absolute;
    font-weight: bold;
    color: white;
    font-size: 25px;
    top: 40%;
    width: 100px;
}

.tippSzoveg1{
    left: 37%;
}

.tippSzoveg2{
    left: 47%;
}

.tippSzoveg3{
    left: 57%;
}

.bvSzoveg{
    position: absolute;
    font-weight: bold;
    color: white;
    font-size: 25px;
    top: 40%;
    left: 43%;
}

.hold{
    left: 37%;
    top: 60%;
}

.mars{
    left: 57%;
    top: 60%;
}

.holdGomb{
    position: absolute;
    left: 33%;
    top: 75%;
    width: 220px;
    font-weight: bold;
    color: white;
    font-size: 25px;
    text-align: center;
    border-style: solid;
    border-radius: 50px;
    border-color: white;
    background-color: black;
}

.marsGomb{
    position: absolute;
    left: 52%;
    top: 75%;
    width: 250px;
    font-weight: bold;
    color: white;
    font-size: 25px;
    text-align: center;
    border-style: solid;
    border-radius: 50px;
    border-color: white;
    background-color: black;
}

.teszt{
    position: absolute;
    transform: scale(40%);
    left: 400px;
    top: 360px;
}

.jatekVege{
    position: absolute;
    font-weight: bold;
    color: white;
    font-size: 50px;
    left: 41.5%;
    top: 40%;
    width: 100px;
}

.jatekVegeGomb{
    position: absolute;
    left: 42%;
    top: 75%;
    width: 220px;
    font-weight: bold;
    color: white;
    font-size: 25px;
    text-align: center;
    border-style: solid;
    border-radius: 50px;
    border-color: white;
    background-color: black;
}

.hold2{
    left: 46%;
    top: 60%;
}

.bvSzoveg2{
    position: absolute;
    font-weight: bold;
    color: white;
    font-size: 25px;
    top: 40%;
    left: 42%;
}

.ussf52{
    margin-left: 50px;
    margin-top: 50px;
    text-decoration: underline #333 5px;
}

.starlinkMission{
    right: 110px;
    top: 100px;
    position: absolute;
    text-decoration: underline #333 5px;
}

.ussf52Szoveg{
    position: absolute;
    font-size: 20px;
    width: 300px;
    top: 150px;
    left: 50px;
}

.smSzoveg{
    position: absolute;
    font-size: 20px;
    width: 300px;
    top: 150px;
    right: 50px;
}