body{
    background-color: #212121;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    box-sizing: border-box;
    margin: 0;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    display: block;
    color: #8f8f8f;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a[aria-label="active"]{
    color: rgb(242, 242, 242);
}