@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

:root{
    --underline-width: 0%;
    --background-color: rgba(33, 33, 33, 1);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Custom scrollbar */
::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: rgba(0,0,0,0);    
}

::-webkit-scrollbar-thumb {
    background: #6f6f6f;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: #8f8f8f;
}
/*end*/

.noselect {
    -webkit-user-select: none;
    -ms-user-select: none; 
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
}

.wave{
    position:absolute; 
    width: 100vw;
    height: 320px;
    background-repeat: repeat-x;
    background-size: cover;
    background-position: center;
    animation: hullamzik 1000s infinite linear;
    z-index: -1;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cg %3E%3Cg fill='%23666666' fill-opacity='0.1' %3E%3Cpath d='M0,160L48,165.3C96,171,192,181,288,186.7C384,192,480,192,576,176C672,160,768,128,864,138.7C960,149,1056,203,1152,213.3C1248,224,1344,192,1392,176L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.wave:nth-child(even){
    top:0;
    transform: rotateZ(180deg);
}

.wave:nth-child(odd){
    bottom:-50px;
}
/*Fent-lent*/

@keyframes hullamzik {
    0%{
        background-position-x: 14400px;
    }
    100%{
        background-position-x: 0px;
    }
}

body{
    background-color: var(--background-color);
    color: #d4d4d4;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    min-height: 100vh;
    position: relative;
}

.hidden-cursor, .hidden-cursor:hover, .hidden-cursor:active, .hidden-cursor:focus{
    cursor: none;
}

a::after{
    content: '';
    display: block;
    width: 0%;
    width: var(--underline-width);
    height: 2px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.5);
    transition: width 0.2s ease-in-out;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    display: block;
    color: #8f8f8f;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a[aria-label="active"]{
    color: rgb(242, 242, 242);
}

.content{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 500px;
    margin: 50px 0;
}

.content-text h1{
    text-align: center;
    margin: 5vh 0;
}

.content-text h1::after{
    content: '';
    display: block;
    width: 50%;
    height: 2px;
    background-color: rgb(69, 69, 69);
    margin: 0 auto;
}

.content-text p{
    text-align: justify;
    padding: 0 10vw;
    margin: 10px 0;
    font-size: 16px;
}

.content-image{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10vw;
}

.content-image img{ 
    height: 90%; 
}

.ctestGrid{
    width: 800px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}

.ctestSquare {
    width: 100px;
    height: 100px;
    background-color: white;
    border: 2px solid black;
    color: black;
}

.ctestSzam {
    background-color: skyblue;
    text-align: center;
}

.pontSzam {
    text-align: center;
}

.startGame{
    text-align: center;
    padding: 15px;
    height: 50px;
    background-color: #8f8f8f;
    width: 100px;
    margin: 0 auto;
    display: block;
}

.lathatatlan{
    background-color: #212121;
}

#urHatter{
    margin: 50px auto;
    background-color: black;
    width: 600px;
    height: 600px;
    /* background-image: url(képek/csillagok8.gif); */
}

.spacexCim{
    text-align: center;
    padding-top: 50px;
}

.urhajoResz1{
    position: absolute;
    left: 562px;
    bottom: 100px;
}

.urhajoResz2{
    position: absolute;
    left: 600px;
    bottom: 100px;
}

.urhajoResz3{
    opacity: 10%;
    position: absolute;
    transform: scaleY(200%);
    left: 640px;
    bottom: 100px;
}

.urhajo{
    max-width: 50%;
    max-height: 50%;
}

.urhajo_tuz{
    max-width: 50%;
    max-height: 50%;
    transform: rotate(180deg);
    transform: scaleY(200%);
}

.meteor1, .meteor2, .meteor3{
    position: absolute;
    transform: scale(50%);
    top: 0;
}

.boost{
    transform: scale(40%);
    position: absolute;
    top: 0;
}

.kmSzamlalo{
    float: left;
}

.kmCel{
    float: right;
}

.startGomb{
    position: absolute;
    left: 41%;
    top: 75%;
    width: 250px;
    font-weight: bold;
    color: white;
    font-size: 50px;
    text-align: center;
    border-style: solid;
    border-radius: 50px;
    border-color: white;
    background-color: black;
}

.tipp{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 25%;
    border-style: solid;
    border-radius: 50px;
    border-color: white;
    background-color: black;
}

.nyilakTipp{
    left: 37%;
}

.meteorTipp{
    left: 47%
}

.boostTipp{
    left: 57%
}

.tippSzoveg{
    position: absolute;
    font-weight: bold;
    color: white;
    font-size: 25px;
    top: 40%;
    width: 100px;
}

.tippSzoveg1{
    left: 37%;
}

.tippSzoveg2{
    left: 47%;
}

.tippSzoveg3{
    left: 57%;
}

.bvSzoveg{
    position: absolute;
    font-weight: bold;
    color: white;
    font-size: 25px;
    top: 40%;
    left: 43%;
}

.hold{
    left: 37%;
    top: 60%;
}

.mars{
    left: 57%;
    top: 60%;
}

.holdGomb{
    position: absolute;
    left: 33%;
    top: 75%;
    width: 220px;
    font-weight: bold;
    color: white;
    font-size: 25px;
    text-align: center;
    border-style: solid;
    border-radius: 50px;
    border-color: white;
    background-color: black;
}

.marsGomb{
    position: absolute;
    left: 52%;
    top: 75%;
    width: 250px;
    font-weight: bold;
    color: white;
    font-size: 25px;
    text-align: center;
    border-style: solid;
    border-radius: 50px;
    border-color: white;
    background-color: black;
}